<!--The content below is only a placeholder and can be replaced.-->
<div class="mainbody" style="text-align:center">
  <h1>
    News Tracker
  </h1>
  <!--<h3>We track the top news</h3>-->


  <div class="news" *ngFor="let new of _news">
    <a href="{{new.link}}">
    <img src="{{new.img}}"  >

      <div class="content">
      <a><h3>{{new.title}}</h3></a>
      <p> {{new.content}}
      </p></div></a>
  </div>
