.mainbody{
  width: 1100px;
  margin: auto;
}
.news{
  width: auto;
  height: 100%;
  padding: 2%;
  overflow: hidden;
  margin-bottom: 3%;
  cursor: pointer;
  border: 1px solid green;
}
.news img{
  width: 10%;
  height: 10%;
  float: right;
}
.news .content{
  width: 85%;
  float: left;
}
.news p{
  color: black;
}
.news a{
  text-decoration: none;

}
